#bgc {
height:100vh;
background-color: salmon;

}

#box-1 {

    height:200px;
    width:200px;
    background-color: red;
}


@media screen and (max-width:600px) {

    #bgc {

        background-color: brown;
    
    }

    
}

@media screen and (min-width:600px) {

    #bgc {

        background-color: gold;
    
    }

    #box-1 {
        display: none;
    }

    
}

@media screen and (min-width:900px) {

    #bgc {

        background-color:violet;
    
    }

    #box-1 {
        display: block;
    }


    
}

